@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-slate-50 text-slate-800 antialiased selection:bg-indigo-500 selection:text-white;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .glass {
    @apply bg-white/70 backdrop-blur-lg border border-white/20 shadow-xl;
  }
  .glass-dark {
    @apply bg-slate-900/70 backdrop-blur-lg border border-slate-700/50 shadow-xl;
  }
}
